@font-face {
  font-family: "ubuntumono-r";
  src: local("ubuntumono-r"), url("../fonts/ubuntumono-r-webfont.woff");
  font-weight: 200;
  font-style: normal;
}
/*
html {
  font-size: 16px;
}
*/
body {
  background-color: #320927;
}

* {
  box-sizing: border-box;
  color: #3A3335;
  font-family: sans-serif;
  font-family: "ubuntumono-r";
  color: white;
  font-size: 1.5rem;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: #494843;
}

header, header > .container {
  min-height: 5vh;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#me {
  margin-left: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}

#flags {
  display: flex;
}

main, main > #routing {
  min-height: 90vh;
}

#navi {
  position: relative;
  top: 10px;
  min-height: 5vh;
}

#content {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer, footer > .container {
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

ul * {
  text-decoration: none;
}

li {
  text-align: center;
}

#pl, #en {
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin: 0 20px;
  height: 30px;
  width: 60px;
  border: 1px solid black;
}

#pl {
  background-image: url(../images/pl.jpg);
}

#en {
  background-image: url(../images/en.png);
}

#about {
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
}
#about a {
  display: inline;
  text-decoration: none;
}

.router-link-exact-active {
  background-color: white;
  color: #320927;
}

.bounce-enter-active {
  animation: bounce-in .5s;
}

.bounce-leave-active {
  animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes typing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
@-moz-keyframes typing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@-moz-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
/*body { font-family: Consolas, monospace; }*/
#home {
  position: relative;
  float: left;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  word-spacing: 0.5rem;
  text-align: center;
}

/*
#home span {
    position:absolute;
    top:0;
    right:0;
    width:0;
		height: 32px;
    background: #320927; 
    border-left: .1em solid white;
    
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    
}
*/
#myself {
  display: flex;
  justify-content: center;
  align-content: center;
}

#my_pic {
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  height: 300px;
  width: 200px;
  border: 1px solid white;
  background-image: url(../images/me_pixled.jpg);
  background-position: center;
}

#my_pic:hover {
  background-image: url(../images/DSC_0053p.JPG);
}

#content > span {
  width: 100%;
  height: 100%;
}

#skills {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#known_icons {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#used_icons, #learn_icons, #contact > div {
  margin-top: 15px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#vs_code, #avocode, #vuejs, #ruby, #rails {
  width: 80px;
  height: 80px;
}

#skills img {
  cursor: pointer;
}

#projects, #projects > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 30px;
}

#projects > div {
  border: 2px solid white;
  padding: 20px 0;
}

#projects > div > div, #contact > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#projects p {
  margin-bottom: 10px;
}

#projects img {
  width: 200px;
  height: 100px;
  margin-right: 20px;
  cursor: pointer;
}

#projects img:active {
  /*
  transition: 2s ease all;
  z-index: 5;
  position: fixed;
  //transform: scale(5);
  //transform-origin: 0 0;
  transform: scale(5);
  transform-origin: 0 0;
  top: 25%;
  left: 25%;
  */
  transform: scale(6);
  transition: 2s ease all;
  z-index: 10000;
  top: 40vh;
  vertical-align: middle;
  display: flex;
  position: fixed;
  justify-content: center;
  align-content: center;
  overflow: visible;
}

#projects a, #contact a, #contact p {
  text-decoration: none;
  text-align: center;
}

#projects a:hover, #contact a:hover {
  background-color: white;
  color: #320927;
}

#projects * {
  font-size: 1.5rem;
}

#contact * {
  font-size: 2rem;
}
#contact img {
  width: 33px;
  height: 33px;
  margin-right: 10px;
}

/*
@media all and (orientation: portrait) {
  #projects img:active {
    transform: rotate(-90deg);
  }
}
*/
@media (min-width: 801px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 14px;
  }

  #projects img:active {
    transform: scale(3);
  }
}
@media (max-width: 600px) {
  html {
    font-size: 12px;
  }

  #projects img:active {
    transform: scale(2);
  }
}
@media (max-width: 500px) {
  html {
    font-size: 10px;
  }

  #projects img:active {
    transform: scale(1.5);
  }
}
@media (max-width: 400px) {
  html {
    font-size: 8px;
  }

  #projects img:active {
    transform: scale(1.2);
  }
}

/*# sourceMappingURL=style.css.map */
